{% extends "main/base.html" %}
{% load static %}

{%block title%}Главная{%endblock title%}

{% block content%}
<section class="home d-flex flex-column">
    <div class="home-text mb-4">
        <h1>Добро пожаловать на главную страницу!</h1>
        <p>Здесь вы можете выбрать любой из понравившихся вам тестов.</p>
    </div>
    <div class="home-title d-flex flex-column align-items-center">
        <p class = "home-btn mt-4">ВСЕ ТЕСТЫ</p>
    </div>
    <div class="home-cards d-flex gap-4">
        {% for test in tests %}
        <a href="{{test.get_absolute_url}}" class = "home-card d-flex flex-column align-items-center text-center">
            <img src="{{test.image.url}}" class = "card-img" alt="">
            <h5 class = "title-card"> {{test.name}} </h5>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}