{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div id="vue-app">
    <component :is="currentTest"></component>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


<script>
const { createApp, ref, onMounted } = Vue;

// Базовый компонент-заглушка
const FallbackComponent = {
    template: `<div </div>`
};

createApp({
    setup() {
        const currentTest = ref(FallbackComponent);
        
        onMounted(async () => {
            try {
                const module = await import(`{% static 'js/tests/' %}{{ game_type }}.js`);
                currentTest.value = module.default || module.TestComponent;
            } catch (error) {
                console.error('Ошибка загрузки теста:', error);
                currentTest.value = {
                    template: `<div class="test-error">Тест "{{ game_type }}" не найден</div>`
                };
            }
        });
        
        return { currentTest };
    }
}).mount('#vue-app');
</script>
{% endblock %}