{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <header class = "header sticky-top">
        <div class = "header-container d-flex">
            <navbar class="header-nav pt-4">
                <ul class="header-list d-flex">
                    <li>
                        <a href = "/" class = "nav-a m-3">Главная</a>
                    </li>
                    <li>
                        <a href = "/shop" class = "nav-a m-3">Категории</a>
                    </li>
                </ul>    
            </navbar>
            <div class="header-logo">
                <a href="/"><img src ="{% static "image/sitelogo1.png" %}" alt ="" class="header-logo-img"></a>

                <div class="header-text">
                    <a href="/">Когнитивные тесты</a>
                </div>
            </div>
            <div class = "header-profile">
                {% if user.is_authenticated %}
                    <a href={%url "users:profile" %}>{{ user.username }}</a>
                    <a href="{% url 'users:profile' %}">
                    {% if user.image %}
                        <img src="{{ user.image.url }}"  class="header-avatar rounded-circle">
                    {% else %}
                        <img src="{% static 'image/defaultavatar.jpg' %}" class="header-avatar rounded-circle">
                    {% endif %}
                    </a>
                {% else %}
                    <a href = {%url 'users:login'%} class = "m-3">Вход</a>
                {% endif %}
                
            </div>
        </div>
    </header>
    <div class = "container">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static "bootstrap\js\bootstrap.bundle.min.js" %}"></script>
</body>
</html>